In [16]:
import numpy as np
import pandas as pd

In [20]:
!type ex.txt

a,b,c,d
1,2,3,4
Na,6,null,8
9,10,11,12

In [25]:
sent = {'c': 3}

result = pd.read_csv('ex.txt', header=1)

In [26]:
result

    1   2     3   4
0  Na   6   NaN   8
1   9  10  11.0  12

- 'a' 열은 sent 딕셔너리에 포함되지 않으므로 결측치(NaN)으로 처리하지 않음.
- 'c' 열은 sent 딕셔너리 값에 오직 3만 있지만, 3과 더불어 기본 등록된 문자열(null 등)을 모두 결측치(NaN)으로 처리함.

In [36]:
chunker = pd.read_csv('pydata-book/examples/ex6.csv', chunksize = 1000)

piece = chunker.get_chunk()
print(type(piece))
piece

<class 'pandas.core.frame.DataFrame'>

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
..        ...       ...       ...       ...  ..
995  2.311896 -0.417070 -1.409599 -0.515821   M
996 -0.479893 -0.650419  0.745152 -0.646038   H
997  0.523331  0.787112  0.486066  1.093156   D
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   K

[1000 rows x 5 columns]